<div class="nav-head">
  <nav> 
      <ol>
          <a routerLink="/Alphabet"class="pink">Alphabet</a>  
          <a routerLink="/Numbers" class ="blue">Numbers</a>
          <a routerLink="/Animals"class="yellow">Animals</a>
      </ol>
  </nav>
  </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <div class="demo-1">
            <h3>Hello, Avery!</h3>
          </div>
          <h1 class="display-4">Welcome to your learning site!</h1>
          <p class="lead">What would you like to learn today?</p>
        </div>
      </div>
    
<div class = "btns">
<button class = "btn" ><a routerLink="/Alphabet">Learn The Alphabet!</a></button>
<button class = "btn"><a routerLink="/Numbers">Let's Count!</a></button>
<button class = "btn"><a routerLink="/Animals">Animals!</a></button>
</div>

